@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
  cursor: url("./images/cursor.png"), auto;
}

body {
  cursor: url("./images/cursor.png"), auto;
}

body a {
  cursor: url("./images/cursor_active.png"), auto;
  scrollbar-color: rgb(15, 101, 230);
}

body {
    background-color: white;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3vw;
}

.explore a {
    font-family: "Staatliches";
    text-decoration: none;
    font-size: 30px;
    color: rgb(15, 101, 230);
    border: 5px solid rgb(15, 101, 230);
    padding: 0.5vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    background-color: white;
    width: 20%;
    line-height: 110%;
}

.explore a:hover {
    color: white;
    background-color: rgb(15, 101, 230);
}

.image_centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    padding: 0;
    border-top: 1vw solid white;
    border-left: 1vw solid white;
    border-right: 1vw solid white;
    border-bottom: 4vw solid white;
    margin-bottom: 3.5vw;
    margin-top: 7vw;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

ul {
  list-style-type: none;
  margin: 1vw;
  padding-right: 1vw;
  font-family: Staatliches;
  font-size: 2.5vw;
  position: relative;
  overflow: hidden;
  border: 0.5vw solid rgb(15, 101, 230);
  border-radius: 100px;
  background-color: white;
}

li {
  float: right;
  color: rgb(15, 101, 230);
  text-align: center;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw; 
}

li a {
  display: block;
  text-decoration: none;
  color: rgb(15, 101, 230);
}

li a:hover {
  color: pink;
}

.active {
  color: pink;
}

.vl {
  border-left: 0.5vw solid pink;
  height: 2.8vw;
}

.circle {
  height: 4vw;
  width: 4vw;
  background-color: rgb(15, 101, 230);
  border-radius: 50%;
  position: absolute;
  margin-left: 1.9vw;
  margin-top: 0.75vw;
  z-index: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 0;
  margin: 0;
}

.column {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}

.introduction {
  font-family: "Lexend Deca";
  padding-right: 10vw;
  padding-top: 4vw;
  padding-left: 1.1vw;
  padding-bottom: 1.5vw;
  margin: 0;
  font-size: 1.2vw;
  color:rgb(15, 101, 230);
  line-height: 140%;
}

.something_blue {
  font-family: "Permanent Marker";
  color: rgb(15, 101, 230);
  padding-left: 2.5vw;
  padding-top: 1.8vw;
  padding-right: 2vw;
  padding-bottom: 2.5vw;
  margin: 0;
  font-size: 7.5vw;
  text-align: left;
  line-height: 100%;
}

.old {
  font-family: Staatliches;
  color: rgb(15, 101, 230);
  padding-left: 2vw;
  padding-top: 9.5vw;
  padding-right: 2vw;
  padding-bottom: 3vw;
  margin: 0;
  font-size: 8vw;
  text-align: left;
  line-height: 8vw;
}

* {
  box-sizing: border-box;
}

.row > .column4 {
  padding-top: 1vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column4 {
  float: left;
  width: 25%;
  padding-left: 1vw;
  padding-right: 1vw;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url('./images/gallery_background.jpeg');
  background-size: cover;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  margin-bottom: 5vw;
  padding: 0;
  width: 40%;
  max-width: 1200px;
}

.modal-content img {
  height: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 5vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: pink;
  text-decoration: none;
  cursor: url("./images/cursor_active.png"), auto;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: url("./images/cursor_active.png"), auto;
  position: absolute;
  top: 17vw;
  width: auto;
  padding: 1.6vw;
  color: white;
  font-weight: bold;
  font-size: 3vw;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 2vw;
}

.prev {
  left: 2vw;
}

/* On hover, add a different color */
.prev:hover,
.next:hover {
  color: pink;
}

img {
  margin-bottom: -1.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.thumbnail:hover {
  background-color: pink;
  cursor: url("./images/cursor_active.png"), auto;
}

.container {
  padding: 1vw;
  text-align: center;
  font-family: "Permanent Marker";
  font-size: 2vw;
  color: rgb(15, 101, 230);
}

p {
  margin: 0.5vw;
}

.caption-container {
  text-align: center;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  color: white;
  font-family: "Lexend Deca";
  font-size: 1.2vw;
  line-height: 140%;
}

.mb-3{
  margin: 1vw;
  padding-right: 10px;
  padding-left: 2vw;
  font-family: "Lexend Deca";
  font-size: 1.5vw;
  position: relative;
  overflow: hidden;
  color: rgb(15, 101, 230);
 }

.form-text {
  font-size: 1.5vw;
}

.button {
  text-align: left;
  font-family: "Staatliches";
  margin-left: 1.5vw;
  margin-top: 0.5vw;
  font-size: 2.5vw;
  color: rgb(15, 101, 230);
  margin-bottom: 0.5vw;
}

.button button {
  background: white;
  border: 0.4vw solid rgb(15, 101, 230);
  cursor: url("./images/cursor_active.png"), auto;
}

.button button:hover {
  background: rgb(15, 101, 230);
  color: white;
}

.form-label {
  cursor: url("./images/cursor.png"), auto;
}

.form-control {
  cursor: url("./images/cursor_active.png"), auto;
}

#exampleFormControlInput1 {
  font-family: "Lexend Deca";
  padding: 0.5vw;
  font-size: 1.3vw;
  margin-left: 1vw;
  width: 16.75vw;
}

#exampleFormControlTextarea1 {
  font-family: "Lexend Deca";
  padding: 0.5vw;
  font-size: 1.3vw;
  width: 28.35vw;
}

div.scroll-container {
  overflow: scroll;
  max-width: 100% !important;
  white-space: nowrap;
  padding: 0.5vw;
  margin-top: 1vw;
 }
 
 ::-webkit-scrollbar {
  width: 0px;
}
 
 div.scroll-container img {
  width: 19vw;
  padding: 0;
  display:inline;
 }
 
.background_img {
  background-size:cover;
  background-image: url(./images/home_background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.row {
  margin-left: 1vw;
  margin-right: 1vw;
}

p a {
  text-decoration: none;
  color: white;
}

/** Override file input styling **/

.hide-choose-files {
  display: none;
}
.file-upload {
  border: 0.4vw solid rgb(15, 101, 230);
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  background: white;
  cursor: url("./images/cursor_active.png"), auto;
}

.file-upload:hover {
  border: 0.4vw solid rgb(15, 101, 230);
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  background: rgb(15, 101, 230);
  cursor: url("./images/cursor_active.png"), auto;
  color: white;
}
